<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fibonacci Microservice</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .fibonacci-sequence {
        margin:20px;
        padding:10px;
        font-family: Monospace;
        font-size:larger;
        border: 1px black solid;
      }
    </style>
       <script src="/sequence.js" defer></script>
 
  </head>
  <body>
    <header>
      <h1>
         A sequence of numbers:
      </h1>
    </header>

    <main>
      <button id="go-button">
        Go
      </button>
      <div id="put-numbers-here" class="fibonacci-sequence">
        &nbsp;
      </div>
      <button id="stop-button">
        Stop
      </button>

    </main>

  </body>
</html>
